.sidebar {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 20px;
    margin-right: 100px;
    margin-left: 50px;
}

.sidebar h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding-bottom: 20px;
    list-style: none;
    color: #7D879C; 
    font-weight: normal; 
    transition: color 0.3s ease, font-weight 0.3s ease; 
}

.sidebar li:hover {
    color: #2B3445; 
    font-weight: bold;
    text-decoration: underline;
}

